In [7]:
#for looping constructs in python
cars = ["Honda","volvo","Toyota"]
for x in cars:
   print(x)

Honda
volvo
Toyota

In [9]:
# to make an item to be X 
cars = ["Honda","volvo","Toyota"]
for x in "Honda":
   print(x)

H
o
n
d
a

In [30]:
#execution will print up to toyota and end the loop
cars = ["Honda","volvo","Toyota","tesla","Jaguar"]
for x in cars:
   print(x)
   if x == "Toyota":
      break

Honda
volvo
Toyota

In [40]:
#the execution will not print toyota
cars = ["Honda","volvo","Toyota","tesla","Jaguar"]
for x in cars:
    if x == "Toyota":
      continue
    print(x)

Honda
volvo
tesla
Jaguar

In [44]:
#range function
for x in range (6):
    print(x)

0
1
2
3
4
5
2
3
4

In [46]:
#in range function one can add parametors
for x in range (2,5):
    print(x)

2
3
4

In [50]:
#in range function one can add parametors and let's say one in the middle
for x in range (2,30,3):
    print(x)# there is a sequence generated for the function

2
5
8
11
14
17
20
23
26
29

In [52]:
# there's an introduction of else in the for loop 
for x in range (4):
    print(x)
else:
    print('Last number')

0
1
2
3
Last number

In [62]:
# for instance if you break the function the else state won't be executed
for x in range (4):
    if x == 2: break
    print(x)
else:
    print('Last number')

0
1

In [64]:
# loops in loops "nested loops"
names = ['aruna','promise','machio']
cars = ['volvo','tesla','honda']

for x in names:
    for y in cars:
        print(x,y)

aruna volvo
aruna tesla
aruna honda
promise volvo
promise tesla
promise honda
machio volvo
machio tesla
machio honda

Python Function.

In [74]:
#function are block codes which must be called to be executed.
def my_function():
    print("Hello have you seen my function") # defining a function
# calling the function
my_function()

Hello have you seen my function

In [90]:
# uses of functions in arguments
def my_function(fname):
    print(fname +" " + "Assistant coordinator."),

my_function("William rodgers"),
my_function("Pauline Hymaress"),
my_function("Dancan Meroz")

William rodgers Assistant coordinator.
Pauline Hymaress Assistant coordinator.
Dancan Meroz Assistant coordinator.

In [96]:
# some rule of def the parameters should should fit to what is called.
def my_function(fname, lname):
    print(fname+ " " + "and" + " " + lname + " " +",will be joining vows in the holy matrimony.")

my_function("Timoty rodgers", "Hannah Naham")
my_function("Peter Farman", "Loveli lopez")
my_function("George Rainhad","Mary Morgan")
my_function("Matthew Anira","Pendo Hexsable")

Timoty rodgers and Hannah Naham ,will be joining vows in the holy matrimony.
Peter Farman and Loveli lopez ,will be joining vows in the holy matrimony.
George Rainhad and Mary Morgan ,will be joining vows in the holy matrimony.
Matthew Anira and Pendo Hexsable ,will be joining vows in the holy matrimony.

In [110]:
# * can be used if you atr not so sure about the arrangment of the arg 
def my_function(*kids):
    print("The following student quqlified  to STEM school:"+ " " + kids[0])

my_function("Machio P A","Promise M A","Arauna P M")

The following student quqlified  to STEM school: Machio P A

In [112]:
#this norway will take the empty undefined function by default "Default parameter"
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [118]:
def my_function(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]

my_function(fruits)

In [121]:
#Return value in functions
def my_function(x):
    return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [123]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [133]:
def tri_recursion(k):
    if k > 0:
      result = k + tri_recursion(k - 1)
      print(result)
    else:
        result = 0
    return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

Lambda function

In [144]:
x =lambda a : a + 28 #adding 28 to argument a and returning the result.
print(x(2))

#lambda take multiple arguments for instance
x = lambda a, b: a*b #lambda function will multiple the the two numbers assigned to a and b
print(x(6,7))

# still the argument can be longer 
x = lambda a, b, c, d, e : a/ b*c+d-e
print(x(24,2,5,12,3))

30
42
69.0

WHY use the lambda function.

In [161]:
#for instance
def my_func(n):
    return lambda a: a * n

my_doubler =my_func(2) 
my_trippler =my_func(3)

print(my_doubler(44))
print(my_trippler(18))

88
54

Arrays

In [166]:
cars = ["Honda","volvo","Toyota"]
for x in cars:
   print(x) #for loops in arrays.

Honda
volvo
Toyota

In [182]:
# an array of cars
cars = ["Honda","volvo","Toyota","Tesla","Discovery"]
# to know how many are the cars
print(len(cars))
#to access a specific car
cars[0]
# to add a car in the array
cars.append("subaru")
print(cars)
cars[3]

5
['Honda', 'volvo', 'Toyota', 'Tesla', 'Discovery', 'subaru']

Class and Objects in python.

In [209]:
class Myclass:# how to create an object with the blueprint class
    x =6

pr= Myclass()
print(pr.x)
""" 
The above probably just shows the simplest form of 
classes and objects but are not really applicable in real life situation
"""
#the followig is a more relative context in the above using 
#_init_()
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    
p1 = person("machio promise", 19)

print(p1.name)
print(p1.age)

6
machio promise
19

In [215]:
class car:
    def __init__(model,name,brand):
        model.name = name 
        model.brand =brand

c1 = car("SUbaru Impreza", "Germany Machine")

print(c1.name)
print(c1.brand)

SUbaru Impreza
Germany Machine

In [228]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"I am { self.name} and am {self.age} years old"

p1 = person("Machio Promise", 19)
print(p1)

I am Machio Promise and am 19 years old